body{
    font-size: 22px;
    width: 1000px;
    padding-bottom: 50px;
}
p,ul{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 30px;
}
h2,h4,h1{
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
}
h2{
    border-bottom: 2px dotted rgb(121, 163, 149);
    display: inline;
    
   
}
.met{
    color: rgb(166, 48, 48);
}
h4,h3{
    color: rgb(77, 20, 20);

}
.ingre{
    color: brown;
    /* font-family:serif ; */
}


.dropcap{
    font-size: 40px;
    display: inline;
    font-weight: bold;
    font-family: serif;
    color: rgb(172, 12, 12);

    
    
}
.eich2{
    margin: 20px 0px;
    color: #4d301f;
    word-spacing: .2px;
    width: 1000px;
    height: auto;
  
}

.name{
    font-size: 15px;
    /* padding-left: 10px; */
    margin:15px 10px ;
    
}
.O{
    color: red;
    
    font-size: 17px;
}
button{
    font-size: 19px;
    border: none;
    background-color: rgb(121, 163, 149);
    border-radius:30px;
    padding: 10px 20px;
    color: aliceblue;

}
.tito h1{
    margin: 0;
    color: #58260b;
     font-family: "Playfair Display", serif;
    font-size: 40px;
    letter-spacing: 0px;
}

img{
    border-radius: 60%;
    height: 200px;

    width:200px ;
    
}
.title-img{
    display:flex;
    align-items: center;
    gap: 20px;

    
}

a{
    text-decoration: none;
    color: rgb(133, 93, 43);
    
    font-size: 25px;
    background-color: rgb(121, 163, 149);
    padding: 10px 20px;
    border-radius: 30px;
    
}
a:hover{
    background-color: #4d301f;
    color:bisque;
}

